# Copy this to /etc/udev/rules.d
# use "udevadm control --reload" if needed

ACTION!="add|change", GOTO="orb_rules_end"
SUBSYSTEM!="usb|tty|hidraw", GOTO="orb_rules_end"

# Orbrace mini in bootloader mode
ATTRS{idVendor}=="1209" ATTRS{idProduct}=="3442", GROUP="plugdev", TAG+="uaccess"
# Orbrace mini
ATTRS{idVendor}=="1209" ATTRS{idProduct}=="3443", GROUP="plugdev", TAG+="uaccess"

LABEL="orb_rules_end"
