###############################################################################
# Clocks
###############################################################################
LOCATE COMP "clkIn" SITE K23;
IOBUF PORT "clkIn" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clkIn" 100 MHZ;

LOCATE COMP "rstfpga" SITE N5;
IOBUF PORT "rstfgpa" IO TYPE LVCMOS33;

###############################################################################
# LEDs
###############################################################################
LOCATE COMP "led0[0]" SITE T24;        # B0
IOBUF PORT "led0[0]" IO_TYPE=LVCMOS33; 
LOCATE COMP "led0[1]" SITE W21;        # G0
IOBUF PORT "led0[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "led0[2]" SITE U21;        # R0
IOBUF PORT "led0[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "led1[0]" SITE T22;        # B1
IOBUF PORT "led1[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "led1[1]" SITE R21;        # G1
IOBUF PORT "led1[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "led1[2]" SITE T23;        # R1
IOBUF PORT "led1[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "led2[0]" SITE P22;        # B2
IOBUF PORT "led2[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "led2[1]" SITE R23;        # G2
IOBUF PORT "led2[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "led2[2]" SITE P21;        # R2
IOBUF PORT "led2[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "led3[0]" SITE M21;        # B3
IOBUF PORT "led3[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "led3[1]" SITE K24;        # G3
IOBUF PORT "led3[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "led3[2]" SITE K21;        # R3
IOBUF PORT "led3[2]" IO_TYPE=LVCMOS33;

###############################################################################
# PMODS
###############################################################################

LOCATE COMP "PMOD0[0]" SITE T25;
IOBUF PORT "PMOD0[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD0[1]" SITE U25;
IOBUF PORT "PMOD0[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD0[2]" SITE U24;
IOBUF PORT "PMOD0[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD0[3]" SITE V24;
IOBUF PORT "PMOD0[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD0[4]" SITE T26;
IOBUF PORT "PMOD0[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD0[5]" SITE U26;
IOBUF PORT "PMOD0[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD0[6]" SITE V26;
IOBUF PORT "PMOD0[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD0[7]" SITE W2;
IOBUF PORT "PMOD0[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "PMOD1[0]" SITE U23;
IOBUF PORT "PMOD1[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD1[1]" SITE V23;
IOBUF PORT "PMOD1[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD1[2]" SITE U22;
IOBUF PORT "PMOD1[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD1[3]" SITE V21;
IOBUF PORT "PMOD1[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD1[4]" SITE W25;
IOBUF PORT "PMOD1[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD1[5]" SITE W24;
IOBUF PORT "PMOD1[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD1[6]" SITE 223;
IOBUF PORT "PMOD1[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD1[7]" SITE W22;
IOBUF PORT "PMOD1[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "PMOD2[0]" SITE J24;
IOBUF PORT "PMOD2[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD2[1]" SITE H22;
IOBUF PORT "PMOD2[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD2[2]" SITE E21;
IOBUF PORT "PMOD2[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD2[3]" SITE D18;
IOBUF PORT "PMOD2[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD2[4]" SITE K22;
IOBUF PORT "PMOD2[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD2[5]" SITE J21;
IOBUF PORT "PMOD2[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD2[6]" SITE H21;
IOBUF PORT "PMOD2[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD2[7]" SITE D22;
IOBUF PORT "PMOD2[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "PMOD3[0]" SITE E4;
IOBUF PORT "PMOD3[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD3[1]" SITE F4;
IOBUF PORT "PMOD3[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD3[2]" SITE E6;
IOBUF PORT "PMOD3[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD3[3]" SITE H4;
IOBUF PORT "PMOD3[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD3[4]" SITE F3;
IOBUF PORT "PMOD3[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD3[5]" SITE D4;
IOBUF PORT "PMOD3[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD3[6]" SITE D5;
IOBUF PORT "PMOD3[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD3[7]" SITE F5;
IOBUF PORT "PMOD3[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "PMOD4[0]" SITE E26;
IOBUF PORT "PMOD4[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD4[1]" SITE D25;
IOBUF PORT "PMOD4[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD4[2]" SITE F26;
IOBUF PORT "PMOD4[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD4[3]" SITE F25;
IOBUF PORT "PMOD4[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD4[4]" SITE C26;
IOBUF PORT "PMOD4[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD4[5]" SITE C25;
IOBUF PORT "PMOD4[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD4[6]" SITE A25;
IOBUF PORT "PMOD4[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD4[7]" SITE A24;
IOBUF PORT "PMOD4[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "PMOD5[0]" SITE D19;
IOBUF PORT "PMOD5[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD5[1]" SITE C21;
IOBUF PORT "PMOD5[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD5[2]" SITE B21;
IOBUF PORT "PMOD5[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD5[3]" SITE C22;
IOBUF PORT "PMOD5[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD5[4]" SITE D21;
IOBUF PORT "PMOD5[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD5[5]" SITE A21;
IOBUF PORT "PMOD5[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD5[6]" SITE A22;
IOBUF PORT "PMOD5[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD5[7]" SITE A23;
IOBUF PORT "PMOD5[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "PMOD6[0]" SITE C16;
IOBUF PORT "PMOD36[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD6[1]" SITE B17;
IOBUF PORT "PMOD6[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD6[2]" SITE C18;
IOBUF PORT "PMOD6[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD6[3]" SITE B19;
IOBUF PORT "PMOD6[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD6[4]" SITE A17;
IOBUF PORT "PMOD6[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD6[5]" SITE A18;
IOBUF PORT "PMOD6[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD6[6]" SITE A19;
IOBUF PORT "PMOD6[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD6[7]" SITE C19;
IOBUF PORT "PMOD6[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "PMOD7[0]" SITE D14;
IOBUF PORT "PMOD7[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD7[1]" SITE B14;
IOBUF PORT "PMOD7[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD7[2]" SITE E14;
IOBUF PORT "PMOD7[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD7[3]" SITE B16;
IOBUF PORT "PMOD7[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD7[4]" SITE C14;
IOBUF PORT "PMOD7[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD7[5]" SITE A14;
IOBUF PORT "PMOD7[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD7[6]" SITE A15;
IOBUF PORT "PMOD7[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD7[7]" SITE A16;
IOBUF PORT "PMOD7[7]" IO_TYPE=LVCMOS33;

###############################################################################
# UART
###############################################################################
LOCATE COMP "uartrx" SITE R26;
IOBUF PORT "uartrx" IO_TYPE=LVCMOS33;

LOCATE COMP "uarttx" SITE R24;
IOBUF PORT "uarttx" IO_TYPE=LVCMOS33;

###############################################################################
# HDMI
###############################################################################
 LOCATE COMP "hdmi_g[0]" SITE AA23;
 LOCATE COMP "hdmi_g[1]" SITE AA22;
 LOCATE COMP "hdmi_g[2]" SITE AA24;
 LOCATE COMP "hdmi_g[3]" SITE AA25;
 LOCATE COMP "hdmi_g[4]" SITE E1;
 LOCATE COMP "hdmi_g[5]" SITE F2;
 LOCATE COMP "hdmi_g[6]" SITE F1;
 LOCATE COMP "hdmi_g[7]" SITE D17;
 LOCATE COMP "hdmi_g[8]" SITE D16;
 LOCATE COMP "hdmi_g[9]" SITE E16;
 LOCATE COMP "hdmi_g[10]" SITE J6;
 LOCATE COMP "hdmi_g[11]" SITE H6;
 LOCATE COMP "hdmi_b[0]" SITE AD25;
 LOCATE COMP "hdmi_b[1]" SITE AC26;
 LOCATE COMP "hdmi_b[2]" SITE AB24;
 LOCATE COMP "hdmi_b[3]" SITE AB25;
 LOCATE COMP "hdmi_b[4]" SITE B3;
 LOCATE COMP "hdmi_b[5]" SITE C3;
 LOCATE COMP "hdmi_b[6]" SITE D3;
 LOCATE COMP "hdmi_b[7]" SITE B1;
 LOCATE COMP "hdmi_b[8]" SITE C2;
 LOCATE COMP "hdmi_b[9]" SITE D2;
 LOCATE COMP "hdmi_b[10]" SITE D1;
 LOCATE COMP "hdmi_b[11]" SITE E3;
 LOCATE COMP "hdmi_r[0]" SITE AD26;
 LOCATE COMP "hdmi_r[1]" SITE AE25;
 LOCATE COMP "hdmi_r[2]" SITE AF25;
 LOCATE COMP "hdmi_r[3]" SITE AE26;
 LOCATE COMP "hdmi_r[4]" SITE E10;
 LOCATE COMP "hdmi_r[5]" SITE D11;
 LOCATE COMP "hdmi_r[6]" SITE D10;
 LOCATE COMP "hdmi_r[7]" SITE C10;
 LOCATE COMP "hdmi_r[8]" SITE D9;
 LOCATE COMP "hdmi_r[9]" SITE E8;
 LOCATE COMP "hdmi_r[10]" SITE H5;
 LOCATE COMP "hdmi_r[11]" SITE J4;
 LOCATE COMP "hdmi_scl" SITE C17;
 LOCATE COMP "hdmi_sda" SITE E17;

#LOCATE COMP "mon_scl" SITE D14;
#LOCATE COMP "mon_sda" SITE B14;
#LOCATE COMP "mon_sda_out" SITE E14;


 LOCATE COMP "hdmi_de" SITE A3;
 LOCATE COMP "hdmi_hsync" SITE B4;
 LOCATE COMP "hdmi_vsync" SITE A4;
 LOCATE COMP "hdmi_pclk" SITE C1;
 LOCATE COMP "hdmi_int" SITE C4;
 #LOCATE COMP "hdmi_rst" SITE N6;

IOBUF PORT "hdmi_g[0]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_g[1]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_g[2]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_g[3]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_g[4]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_g[5]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_g[6]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_g[7]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_g[8]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_g[9]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_g[10]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_g[11]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_b[0]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_b[1]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_b[2]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_b[3]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_b[4]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_b[5]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_b[6]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_b[7]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_b[8]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_b[9]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_b[10]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_b[11]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_r[0]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_r[1]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_r[2]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_r[3]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_r[4]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_r[5]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_r[6]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_r[7]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_r[8]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_r[9]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_r[10]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_r[11]" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_scl" PULLMODE=UP IO_TYPE=LVTTL33 DRIVE=4;
IOBUF PORT "hdmi_sda" PULLMODE=UP IO_TYPE=LVTTL33 DRIVE=4;
IOBUF PORT "hdmi_de" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_hsync" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_vsync" IO_TYPE=LVTTL33;
IOBUF PORT "hdmi_pclk" IO_TYPE=LVTTL33;
#IOBUF PORT "hdmi_rst" IO_TYPE=LVTTL33;
