# Pin configuration for Lattice ICE40HX1K-STICK-EVN board

# Trace signals ; J1 pin 1 is 3.3V, pin 2 is GND
set_io traceDin[0]	112	# J1 pin 3
set_io traceDin[1]	113	# J1 pin 4
set_io traceDin[2]	114	# J1 pin 5
set_io traceDin[3]	115	# J1 pin 6
set_io traceClk		116	# J1 pin 7

# UART connection to PC
set_io uartrx		9
set_io uarttx		8
set_io rst		7
set_io cts		4

# Oscillator clock for FPGA PLL
set_io clkIn		21

# LEDs
set_io sync_led		95
set_io rxInd_led	96
set_io txInd_led	97
set_io txOvf_led	98

# more LEDs (non-standard)
set_io yellow		99	# LED
set_io green		119	# J1 pin 10

# other indicators (currently unused?) J2 pin 1 is 3.3V, pin 2 is GND
set_io D6		62	# J2 pin 3
set_io D5		61	# J2 pin 4
set_io D4		60	# J2 pin 5
set_io D3		56	# J2 pin 6

