# Trace signals PMOD1A 1-4, 10
set_io traceDin[0]              4
set_io traceDin[1]              2
set_io traceDin[2]             47
set_io traceDin[3]             45
set_io traceClk                44

# UART connection to PC
set_io -nowarn uartrx   6     # RX pin of FT2232H
set_io -nowarn uarttx   9     # TX pin of FT2232H
set_io cts              19    # CTSn pin of FT2232H
set_io rstIn            20    # DTRn pin of FT2232H

# SPI connection to PC

set_io SPItx            14    # SPI MISO, FT2232H pin 40
set_io SPIrx            17    # SPI MOSI, FT2232H pin 39
set_io SPIclk           15    # SPI CLK,  FT2232H pin 38
set_io SPIcs            16    # SPI CS,   FT2232H pin 41

# Oscillator clock for FPGA PLL
set_io clkIn        35    # connected to 12MHz xtal

# LEDs (use PMOD2 with supplied PMOD)
set_io data_led        23
set_io txOvf_led       26
set_io txInd_led       27
set_io heartbeat_led   25
